@import './colors';
.header {
  height: 100px;
  width: auto;
  display: flex;
  flex-direction: row;

  .logo-header {
    width: 250px;
    height: 100px;
    background-image: url('../images/logo.jpeg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px 100px; 
    float: left;
    }

    h1{
      font-weight: 600;
      color: $grey65;
      width: 350px;
      margin: 30px auto 30px auto;

    }
}